Connected Services/SmManager/SmManager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49962/SmManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SManApi" />
  <xs:import schemaLocation="http://localhost:49962/SmManager.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="loginAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="login" nillable="true" type="q1:LoginAdm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="loginAdminResult" nillable="true" type="q2:LoginAdm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServHuv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="selType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServHuvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getServHuvResult" nillable="true" type="q3:ArrayOfListServHuvCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceHuvud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="sh" nillable="true" type="q4:ServHuvCL" />
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceHuvudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getServiceHuvudResult" nillable="true" type="q5:ServHuvCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReparatorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReparatorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getReparatorListResult" nillable="true" type="q6:ArrayOfListRepCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getCustListResult" nillable="true" type="q7:ArrayOfListKundCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveServHuv">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="sh" nillable="true" type="q8:ServHuvCL" />
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveServHuvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="saveServHuvResult" nillable="true" type="q9:ServHuvCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="toggleApprove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="approve" type="xs:boolean" />
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="toggleApproveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="toggleApproveResult" nillable="true" type="q10:ErrorCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getShReparatorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VartOrdernr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getShReparatorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getShReparatorListResult" nillable="true" type="q11:ArrayOfShReparatorCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateShrep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VartOrdernr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AnvID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addToOrder" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateShrepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="updateShrepResult" nillable="true" type="q12:ErrorCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countReparator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vart_ordernr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countReparatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countReparatorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAllRep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VartOrdernr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="allRep" type="xs:boolean" />
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAllRepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="updateAllRepResult" nillable="true" type="q13:ServHuvCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderArt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderArtId" type="xs:int" />
        <xs:element minOccurs="0" name="vartOrdernr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderArtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getOrderArtResult" nillable="true" type="q14:ArrayOfOrderArtCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkoutOrderArt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="oa" nillable="true" type="q15:OrderArtCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkoutOrderArtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="checkoutOrderArtResult" nillable="true" type="q16:OrderArtCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCheckoutableArticles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="artnr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCheckoutableArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getCheckoutableArticlesResult" nillable="true" type="q17:ArrayOfOrderArtCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genCompStoreData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vartOrdernr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genCompStoreDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="genCompStoreDataResult" nillable="true" type="q18:ErrorCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countArtForStorageAut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vartOrdernr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countArtForStorageAutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countArtForStorageAutResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextOrderNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextOrderNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNextOrderNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMomskoder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMomskoderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getMomskoderResult" nillable="true" type="q19:ArrayOfMomskodCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countOrderArtRows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vartOrdernr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countOrderArtRowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countOrderArtRowsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calculateCiOrderArt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vartOrdernr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calculateCiOrderArtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="calculateCiOrderArtResult" nillable="true" type="q20:ErrorCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setTempCiAntal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderArtId" type="xs:int" />
        <xs:element minOccurs="0" name="newValue" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setTempCiAntalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="setTempCiAntalResult" nillable="true" type="q21:ErrorCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="commitTempCiAntal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vartOrdernr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="commitTempCiAntalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="commitTempCiAntalResult" nillable="true" type="q22:ErrorCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vartOrdernr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="exportTimeResult" nillable="true" type="q23:ErrorCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCheckoutableArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="artnr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCheckoutableArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getCheckoutableArticleResult" nillable="true" type="q24:OrderArtCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUcArtListSelection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUcArtListSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="getUcArtListSelectionResult" nillable="true" type="q25:ArrayOfKeyValuePairOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOutcheckedList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOutcheckedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getOutcheckedListResult" nillable="true" type="q26:ArrayOfOrderArtListCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExportListSelection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExportListSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="getExportListSelectionResult" nillable="true" type="q27:ArrayOfKeyValuePairOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExportFullList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vartOrdernr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExportFullListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getExportFullListResult" nillable="true" type="q28:ArrayOfOrderArtCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logLevel" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageDescr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="login" nillable="true" type="q29:LoginAdm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="GLoginResult" nillable="true" type="q30:LoginAdm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getAllMaterialResult" nillable="true" type="q31:ArrayOfgMaterialCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="materialId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getMaterialResult" nillable="true" type="q32:ArrayOfgMaterialCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="mat" nillable="true" type="q33:gMaterialCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="saveMaterialResult" nillable="true" type="q34:gMaterialCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaterialSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="materialSizeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaterialSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getMaterialSizeResult" nillable="true" type="q35:ArrayOfgMaterialSizeCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveMaterialSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="matSize" nillable="true" type="q36:gMaterialSizeCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveMaterialSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="saveMaterialSizeResult" nillable="true" type="q37:gMaterialSizeCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaterialThickn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="materialThicknId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaterialThicknResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getMaterialThicknResult" nillable="true" type="q38:ArrayOfgMaterialThicknCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveMaterialThickness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="thickn" nillable="true" type="q39:gMaterialThicknCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveMaterialThicknessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="saveMaterialThicknessResult" nillable="true" type="q40:gMaterialThicknCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWorkingCosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWorkingCostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getWorkingCostsResult" nillable="true" type="q41:gWorkingCostCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveWorkingCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="wc" nillable="true" type="q42:gWorkingCostCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveWorkingCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="saveWorkingCostResult" nillable="true" type="q43:gWorkingCostCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gasketId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getGasketResult" nillable="true" type="q44:ArrayOfgGasketCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveGasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="gasket" nillable="true" type="q45:gGasketCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveGasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="saveGasketResult" nillable="true" type="q46:gGasketCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteGasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gasketId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteGasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="deleteGasketResult" nillable="true" type="q47:ErrorCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGasketType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGasketTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="getGasketTypeResult" nillable="true" type="q48:ArrayOfKeyValuePairOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReuseMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reuseMatId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReuseMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getReuseMaterialResult" nillable="true" type="q49:ArrayOfgReuseMatCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveReuseMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="reuseMat" nillable="true" type="q50:gReuseMatCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveReuseMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="saveReuseMaterialResult" nillable="true" type="q51:gReuseMatCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReusablePercentage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="innerSize" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReusablePercentageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getReusablePercentageResult" nillable="true" type="q52:gReuseMatCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resetExport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aVart_ordernr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resetExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="resetExportResult" nillable="true" type="q53:ErrorCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resendxOrderArt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aVart_ordernr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noToResend" type="xs:int" />
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resendxOrderArtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="resendxOrderArtResult" nillable="true" type="q54:resendOrderArtCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPyramidChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vartOrdernr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPyramidChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SManApi" minOccurs="0" name="getPyramidChangeResult" nillable="true" type="q55:ArrayOfpyramidChangeCL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>